# Database
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/acctwave

# NC Wallet (Virtual Numbers)
NCWALLET_API_KEY=
NCWALLET_PIN=

# PocketFi (Payments)
POCKETFI_API_KEY=pk_
POCKETFI_SECRET_KEY=sk_
POCKETFI_BUSINESS_ID=

# Authentication (NextAuth)
NEXTAUTH_SECRET= # Run `openssl rand -base64 32` to generate
NEXTAUTH_URL=http://localhost:3000

# Email (Resend)
RESEND_API_KEY=re_
